<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
   
    <!-- Specific CSS goes HERE -->
    {% block styles %}{% endblock styles %}

</head>
<body>

    {% block content %}{% endblock content %}

    <!-- Specific Page JS goes HERE  -->
    {% block scripts %}{% endblock scripts %}

</body>
</html>
