{% extends 'layouts/base.html' %}

{% block html_attribute %}{% endblock html_attribute %}

{% block title %}{% endblock title %}

{% block styles %}{% endblock styles %}

{% block body_attribute %}{% endblock body_attribute %}

{% block preloader %}{% endblock preloader %}

{% block content %}

    <div class="wrapper">

        {% include 'partials/topbar.html' %}

        {% include 'partials/horizontal-nav.html' %}

        <div class="content-page">

            {% block page_content %}{% endblock page_content %}

            {% include 'partials/footer.html' %}

        </div>

    </div>

    {% include 'partials/customizer.html' %}

    {% block modal %}{% endblock modal %}

{% endblock content %}

{% block scripts %}{% endblock scripts %}
